@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
:root{
    --azulito: #2254aaff;
    --amarilloso: #c39873ff;
    --erde: #226a44;
    --purpuroso: #1f1116ff;
    --medio-blanquito: #d9dbf8ff;
    --naranjo-claro: #d9c7c7ff;
    --chocolatoso: #532816;
    --rojito: #881416ff;
    --lavandita: #585172ff;
    --negrito: #030108ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

body{
    background: var(--lavandita);
    padding: 15%;
}

.menuprin {
    max-width: 700px;
    width: 100%;
    background: var(--naranjo-claro);
    margin: 20px auto;
    padding: 30px;
    box-shadow: 2px 2px 2px var(--naranjo-claro);
    border-radius: 10px;
}

.menuprin .titulo {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
    color: var(--purpuroso);
    text-transform: uppercase;
    text-align: center;
}
.menuprin .botones {
    justify-content: center;
    margin: 10px auto;
    padding: 0 10px;
}

.menuprin .botones .seleccion {
    width: 100%;
    background: rgb(83, 40, 22, 0.2);
    height: 40px;
    margin: 2px;
    padding: 6px 6px;
    font-size: 16px;
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.menuprin .botones .seleccion:hover {
    background: rgb(83, 40, 22, 0.4);
}

.menuprin .botones .seleccion.secundario {
    background: rgb(83, 40, 22, 0.4);
}

.menuprin .botones .seleccion.secundario:hover {
    background: rgb(83, 40, 22, 0.6);
}

.menuprin .botones .seleccion.terciario {
    background: rgb(83, 40, 22, 0.6);
}

.menuprin .botones .seleccion.terciario:hover {
    background: rgb(83, 40, 22, 0.8);
}

.menuprin .botones .seleccion.principal .icono.derecha,
.menuprin .botones .seleccion.secundario .icono.derecha {
    float: right;
    margin: 5px auto;
    padding: 2px;
}

.menuprin .botones .pincipal ul {
    display:none;
}

.menuprin .botones .pincipal .activado > a {
    background: var(--negrito);
}