@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
:root{
    --azulito: #2254aaff;
    --amarilloso: #c39873ff;
    --erde: #226a44;
    --purpuroso: #1f1116ff;
    --medio-blanquito: #d9dbf8ff;
    --naranjo-claro: #d9c7c7ff;
    --chocolatoso: #532816;
    --rojito: #881416ff;
    --lavandita: #585172ff;
    --negrito: #030108ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

body{
    background: var(--purpuroso);
    padding: 0 10px;
}

.btn.agregar {
    min-width: 50px;
    max-width: 150px;
    width: 100%;
    background: var(--erde);
    height: 40px;
    margin-bottom: 15px;
    margin-left: 5px;
    padding: 6px 6px;
    font-size: 16px;
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    align-items: center;
}

.btn.eliminar {
    width: 100%;
    background: var(--rojito);
    height: 40px;
    padding: 6px 6px;
    font-size: 16px;
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    align-items: center;
}

.regresar {
    min-width: 50px;
    max-width: 150px;
    width: 100%;
    background: var(--azulito);
    height: 40px;
    margin: 2px;
    padding: 6px 6px;
    font-size: 16px;
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    align-items: center;
}

.regresar:hover {
    background: rgb(34, 84, 170, 0.8);
    color: white;
}

.container{
    max-width: 500px;
    width: 100%;
    background: var(--medio-blanquito);
    margin: 20px auto;
    padding: 30px;
    box-shadow: 2px 2px 2px var(--medio-blanquito);
    border-radius: 10px;
}

.container .titulo{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
    color: var(--purpuroso);
    text-transform: uppercase;
    text-align: center;
}

.container .form{
    width: 100%;
}
.container .form .campo_input{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.container .form .campo_input label{
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 16px;
}
.container .form .campo_input .input,
.container .form .campo_input .textarea{
    width: 100%;
    outline: none;
    border: 1px solid var(--purpuroso);
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.container .form .campo_input .textarea{
    resize: none;
}

.container .form .campo_input .costum_select{
    position: relative;
    width: 100%;
    height: 37px;    
}

.container .form .campo_input .costum_select select{
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid var(--purpuroso);
    width: 100%;
    height: 100%;
    padding: 8px 10px;
    border-radius: 3px;
    outline: none;
}

.container .form .campo_input .costum_select:before {
    content: "";
    position: absolute;
    top: 13px;
    right: 12px;
    border: 8px solid;
    border-color: #757575 transparent transparent transparent;
    pointer-events: none;
}

.container .form .campo_input .input:focus,
.container .form .campo_input .textarea:focus,
.container .form .campo_input .costum_select:focus{
    border: 1px dashed var(--purpuroso);
}

.container .form .guardar {
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    font-size: 16px;
    border: 0;
    background: var(--erde);
    color: white;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.container .form .campo_input:last-child {
    margin-bottom: 0;
}

.container .form .guardar:hover {
    background: rgb(34, 106, 68, 0.8);
}

@media (max-width: 420px) {
    .container .form .campo_input{
        flex-direction: column;
        align-items: flex-start;
    }

    .container .form .campo_input label{
        margin-bottom: 5px; 
    }
}

.containertab {
    width: 95%;
    align-items: center;
    background: var(--medio-blanquito);
    margin: 20px auto;
    padding: 10px;
    box-shadow: 2px 2px 2px var(--medio-blanquito);
    border-radius: 10px;
    min-height: 390px;
}

.containertab .titulo{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
    color: var(--purpuroso);
    text-transform: uppercase;
    text-align: center;
}

.containertab .agregar {
    min-width: 50px;
    max-width: 150px;
    width: 100%;
    background: var(--erde);
    height: 40px;
    margin-bottom: 15px;
    margin-left: 5px;
    padding: 6px 6px;
    font-size: 16px;
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    align-items: center;
}

.containertab .agregar:hover {
    background: rgb(34, 106, 68, 0.8);
}

.containertab .desactivados {
    width: 25%;
    background: var(--azulito);
    height: 40px;
    margin-top: 15px;
    margin-left: 5px;
    padding: 6px 6px;
    font-size: 16px;
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    align-items: center;
}

.containertab .desactivados:hover {
    background: rgb(34, 84, 170, 0.8);
}

.containertab .modificar,
.containertab .activar {
    width: 100%;
    background: var(--amarilloso);
    height: 40px;
    padding: 6px 6px;
    font-size: 16px;
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    align-items: center;
}

.containertab .modificar:hover,
.containertab .activar:hover {
    background: rgb(195, 152, 115, 0.8);
}

.containertab .desactivar,
.containertab .eliminar {
    width: 100%;
    background: var(--rojito);
    height: 40px;
    padding: 6px 6px;
    font-size: 16px;
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    align-items: center;
}

.containertab .desactivar:hover,
.containertab .eliminar:hover {
    background: rgb(136, 20, 22, 0.8);
}